.c_page-real-count-frame {
    width: 100%;
    overflow: hidden;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
  }
  
  .c_page-real-count-instance {
    width: 100%;
    max-width: 100px;
    box-sizing: border-box;
  }
  
  .c_page-real-count-rectangle {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 100px;
  }
  
  .c_page-real-count-text {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text01,
  .c_page-real-count-text02 {
    color: #000;
    font-size: 64px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Nunito",sans-serif;
    font-weight: 700;
    line-height: normal;
    margin-bottom: .699999988079071px;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-text02 {
    margin-bottom: 0;
  }
  
  .c_page-real-count-text03 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text04 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-text05 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text06 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Nunito",sans-serif;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-text07 {
    width: 100%;
    max-width: 296px;
    margin-top: 0;
    min-height: 44px;
    text-align: center;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text08 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    font-family: "Nunito",sans-serif;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-frame1,
  .c_page-real-count-frame2 {
    gap: 57px;
    width: 100%;
    display: flex;
    position: relative;
    max-width: 1356px;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .c_page-real-count-frame2 {
    gap: 47px;
    padding: 50px 14px;
    max-width: 1332px;
    border-top: 12px solid #d9d9d9;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25),0 4px 4px 0 rgba(0,0,0,.25),0 4px 4px 0 rgba(0,0,0,.25);
    align-items: flex-start;
    border-left: 12px solid #d9d9d9;
    border-right: 12px solid #d9d9d9;
    border-bottom: 12px solid #d9d9d9;
    border-radius: 30px 30px 30px 30px;
    background-color: #fff;
  }
  
  .c_page-real-count-instance1 {
    width: 100%;
    max-width: 30px;
    box-sizing: border-box;
  }
  
  .c_page-real-count-rectangle1 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 30px;
  }
  
  .c_page-real-count-instance2 {
    width: 100%;
    max-width: 180px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_page-real-count-text09 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text10 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-text11 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text12 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-text13 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text14 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_page-real-count-text15 {
    width: 100%;
    max-width: auto;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_page-real-count-text16 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Nunito",sans-serif;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }