.title-parpol {
  color: rgba(0,0,0,1);
  font-family: Nunito;
  font-weight: Bold;
  opacity: 1;
  font-size: 20px;
}

  .rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .carousel-inner {
    border: 5px solid gray;
    border-radius: 15px;
    padding: 10px; /* Add padding to inner carousel */
  }

  .carousel-item {
    margin: 0 3px; /* Add margin to carousel items */
    padding: 2px;
  }

  .counting-down {
    max-width: 600px;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
  }

  .simple-bar-chart{
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;
    
    height: 10rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 1.5rem; /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
    padding: 10px;
  }
  
  .simple-bar-chart::after{
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
  }

  .simple-bar-chart > .item{
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards
  }
  @keyframes item-height { from { height: 0 } }
  
  .simple-bar-chart > .item > * { position: absolute; text-align: center }
  .simple-bar-chart > .item > .label { inset: 100% 0 auto 0 }
  .simple-bar-chart > .item > .value { inset: auto 0 100% 0 }
  
  .label {
    color: rgba(0,0,0,1);
    font-family: Nunito;
    margin-top: 5px;
  }

  .value {
    color: rgba(0,0,0,1);
    font-family: Nunito;
  }

  /* Template */
  .animal_section {
    background-image: url(../images/animal-bg.jpg);
    background-size: cover;
    color: #ffffff;
  }
  
  .animal_section .animal_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .animal_section .animal_container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 45px 2.5%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  
  .animal_section .animal_container .box .img-box {
    border-radius: 25px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
  
  .animal_section .animal_container .box .img-box img {
    width: 100%;
  }
  
  .animal_section .animal_container .box .detail-box {
    margin-top: 15px;
  }
  
  .animal_section .animal_container .box .detail-box h5 {
    font-weight: bold;
  }
  
  .animal_section .animal_container .box.b1 {
    -webkit-animation: odd-box-animate 3s infinite;
            animation: odd-box-animate 3s infinite;
  }
  
  .animal_section .animal_container .box.b2 {
    -webkit-animation: even-box-animate 3s infinite;
            animation: even-box-animate 3s infinite;
  }
  
  @-webkit-keyframes odd-box-animate {
    0% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
    50% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
    100% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
  }
  
  @keyframes odd-box-animate {
    0% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
    50% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
    100% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
  }
  
  @-webkit-keyframes even-box-animate {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
    50% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
    100% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
  }
  
  @keyframes even-box-animate {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
    50% {
      -webkit-transform: translateY(45px);
              transform: translateY(45px);
    }
    100% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
    }
  }

  @media (max-width: 992px) {
    .hero_area {
      height: auto;
    }
  
    .slider_section {
      padding-bottom: 75px;
    }
  
    .carousel-indicators {
      bottom: -35px;
    }
  
    .animal_section .animal_container .box {
      flex-basis: 45%;
    }
  
    .contact_section .form_container {
      padding: 0;
    }
  }

  @media (max-width: 576px) {
    .heading_container {
      align-items: center;
      text-align: center;
    }
  
    .slider_section .detail-box h1 {
      font-size: 2.5rem;
    }
  
    .animal_section .animal_container .box {
      flex-basis: 95%;
      animation: none !important;
    }
  }